.btn {
  margin-left: 15px;
}
.listItems {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 25px;
  padding: 6px;
}
.listItems:hover {
  background: rgb(0, 255, 247);
  border-radius: 6px;
}
.close {
  color: gray;
  text-decoration: line-through;
}
.filter{
  display: flex;
  justify-content: center;
}
.btns{
margin-top: 25px;
}